{% extends 'account/main.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% block head %}
  <!--begin::Head-->
  <div class="kt-login__head">
    <span class="kt-login__signup-label">
     Already have an account? Then please 
    </span>
    <a class="kt-link kt-login__signup-link" href="{{ login_url }}">
     Sign In!
    </a>
   </div>

{% endblock head %}
          
          {% block title %}<h1>{% trans "Sign Up" %}</h1>{% endblock title %}

     
        

        {% block content %}
       
        
        
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-primary btn-elevate kt-login__btn-primary primaryAction">{% trans "Sign Up" %} </button>
        </form>
        
        {% endblock %}
