{% extends 'main.html' %}{% load static %}{% block content %}
                <div>
                    <div id="block-finlance-page-title">
                        <h1>
                            <span>
                                About Omegawfx
                            </span>
                        </h1>
                    </div>
                    <div id="block-finlance-content">
                        <div>
                            <div class="paragraph paragraph--type--block paragraph--view-mode--default">
                                <div class="about-bg breadcrumb-area about">
                                    <div class="container">
                                        <div class="service breadcrumb-txt">
                                            <div class="row">
                                                <div class="col-xl-7 col-lg-8 col-sm-10">
                                                    <h1>
                                                        We are 100%Trusted Trading Broker
                                                    </h1>
                                                    <ul class="breadcumb">
                                                        <li>
                                                            <a href="/index-2">
                                                                Home
                                                            </a>
                                                        </li>
                                                        <li>
                                                            About
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="breadcrumb-area-overlay">
                                    </div>
                                </div>
                            </div>
                            <div class="paragraph paragraph--type--block paragraph--view-mode--default">
                                <div class="about-company-section">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <span class="section-title">
                                                    About Omegawfx
                                                </span>
                                                <h2 class="section-summary">
                                                    The future is bright with Omegawfx
                                                </h2>
                                                <div class="about-company-txt">
                                                    <p>
                                                        Omegawfx is one of largest forex and cryptocurrency brands
                                                        around. At Omegawfx International we work hard to make sure our
                                                        clients make the best trading and investment decisions.
                                                        Our broad range of services enable you to get the best guidance,
                                                        advice and resources to build a richer future
                                                    </p>
                                                    <p>
                                                        We work day and night to create and sustain a forex and
                                                        cryptocurrencies trading
                                                        environment that helps everyone access the markets – from
                                                        first-timers to those who’ve turned trading into a career.
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="offset-lg-1 col-lg-6">
                                                <div class="tile-gallery">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <div class="big-img big-img-bg">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <div class="small-img small-img-bg-1">
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div class="small-img small-img-bg-2">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="choose-beqq">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="single-reason">
                                                        <div class="about-icon-wrapper">
                                                            <i class="flaticon-reload">
                                                            </i>
                                                        </div>
                                                        <div class="reason-txt">
                                                            <h4>
                                                                Inspired
                                                            </h4>
                                                            <p>
                                                                Want more out of your forex trading? Our Loyalty
                                                                Cashback promotion has you covered (T&amp;Cs apply).
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="single-reason">
                                                        <div class="about-icon-wrapper">
                                                            <i class="flaticon-organize">
                                                            </i>
                                                        </div>
                                                        <div class="reason-txt">
                                                            <h4>
                                                                Flexible
                                                            </h4>
                                                            <p>
                                                                We cater to all experience levels. Whether you are new
                                                                to trading, or a seasoned veteran, we have what you
                                                                need.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="single-reason">
                                                        <div class="about-icon-wrapper">
                                                            <i class="flaticon-arrow-on-the-center-of-the-target">
                                                            </i>
                                                        </div>
                                                        <div class="reason-txt">
                                                            <h4>
                                                                Trusted
                                                            </h4>
                                                            <p>
                                                                We are one of the world’s most trusted brokers. Trade
                                                                and invest with one of the most trusted names in the
                                                                business.
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="others">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 first">
                                            <div class="container-fluid p-5">
                                                <h4>
                                                    Specialised help and knowledge when you need it
                                                </h4>
                                                <p class="lead">
                                                    Our clients are our number one priority, which is why we have
                                                    experts available to answer all your questions by, email and live
                                                    chat.
                                                    Our offices all over the world offer specialised help, advice and
                                                    guidance when you need it.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 second">
                                            <div class="container-fluid p-5">
                                                <h4>
                                                    Entry to the financial markets for everyone
                                                </h4>
                                                <p class="lead">
                                                    With Omegawfx International, you have everything you need to start
                                                    trading forex, metals, cryptocurrencies and commodity futures CFDs.
                                                    Benefit from trading tools, interbank liquidity, advanced trading
                                                    platforms and financial news to help you on your way.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="others">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 third">
                                            <div class="container-fluid p-5">
                                                <h4>
                                                    Millions of Omegawfx clients can’t be wrong
                                                </h4>
                                                <p class="lead">
                                                    At Omegawfx International, part of our mission is to keep that
                                                    standard of excellence high. We provide a forex trading environment
                                                    that is trustworthy,
                                                    reliable and technologically advanced, while ensuring every client
                                                    receives impeccable customer service.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 first">
                                            <div class="container-fluid p-5">
                                                <h4>
                                                    Flexible trading options to suit your needs
                                                </h4>
                                                <p class="lead">
                                                    Smart investment means having a variety of options. With Omegawfx
                                                    International, you can trade and invest the way you want to, by
                                                    choosing independent trading or joining Omegawfx Invest and
                                                    following strategies from experienced traders.
                                                    With our Loyalty Cashback program, you can also get back part of
                                                    your funds on different types of commission.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="paragraph paragraph--type--block paragraph--view-mode--default">
                    <div class="cta-section cta-bg">
                        <div class="container">
                            <div class="cta-content">
                                <div class="row">
                                    <div class="col-md-9 col-lg-7">
                                        <h3>
                                            Need help with your trading account?
                                        </h3>
                                    </div>
                                    <div class="col-md-3 col-lg-5 contact-btn-wrapper">
                                        <a class="boxed-btn contact-btn" href="/contact">
                                            <span>
                                                Contact Us
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <section class="ava-lazy loaded" data-api="trusted-award" id="trusted-award">
                    <div class="lds-ellipsis" style="display: none;">
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                    <div class="section-wrap" style="opacity: 1;">
                        <div class="clearfix">
                            <div class="trusted">
                                <h4>
                                    Trusted By
                                </h4>
                                <img alt="trusted by"
                                    src="{% static 'img/services/trusted-by3860386038603860.png?v=1' %}" />
                            </div>
                            <div class="award">
                                <h4>
                                    Award Winner
                                </h4>
                                <img alt="award winner" src="{% static 'img/services/award-winner-2022.html' %}" />
                            </div>
                        </div>
                    </div>
                </section>
                {% endblock content %} 