{% extends 'main.html' %}{% load static %}{% block content %}
     <div>
      <div id="block-finlance-page-title">
       <h1>
        <span>
         Need information? Contact beqq
        </span>
       </h1>
      </div>
      <div id="block-finlance-content">
       <div>
        <div class="paragraph paragraph--type--block paragraph--view-mode--default">
         <div class="breadcrumb-area contact contact-bg">
          <div class="container">
           <div class="service breadcrumb-txt">
            <div class="row">
             <div class="col-xl-7 col-lg-8 col-sm-10">
              <h1>
               Need Information? Contact Us
              </h1>
              <ul class="breadcumb">
               <li>
                <a href="/index-2">
                 Home
                </a>
               </li>
               <li>
                Contact Us
               </li>
              </ul>
             </div>
            </div>
           </div>
          </div>
          <div class="breadcrumb-area-overlay">
          </div>
         </div>
        </div>
        <div class="contact-form-section">
         <div class="container">
          <div class="row">
           <div class="col-lg-6">
            <span class="section-title">
             Contact beqq
            </span>
            <h2 class="section-summary">
             Need information fill form and send beqq
            </h2>
            <a id="main-content">
            </a>
            <div>
             <div id="Div1">
              <h1>
               Feedback
              </h1>
             </div>
             <div id="Div2">
              <div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name">
               <label class="js-form-required form-required" for="edit-name">
                Your name
               </label>
               <input aria-required="true" class="form-text required" data-drupal-selector="edit-name" id="ContentPlaceHolder1_body_name" maxlength="255" name="ctl00$ctl00$ContentPlaceHolder1$body$name" required="required" size="60" type="text"/>
              </div>
              <div class="js-form-item form-item js-form-type-email form-item-mail js-form-item-mail">
               <label class="js-form-required form-required" for="edit-mail">
                Your email address
               </label>
               <input aria-required="true" class="form-email required" data-drupal-selector="edit-mail" id="ContentPlaceHolder1_body_email" maxlength="254" name="ctl00$ctl00$ContentPlaceHolder1$body$email" required="required" size="60" type="text"/>
              </div>
              <div class="field--type-string field--name-subject field--widget-string-textfield js-form-wrapper form-wrapper" data-drupal-selector="edit-subject-wrapper" id="edit-subject-wrapper">
               <div class="js-form-item form-item js-form-type-textfield form-item-subject-0-value js-form-item-subject-0-value">
                <label class="js-form-required form-required" for="edit-subject-0-value">
                 Subject
                </label>
                <input aria-required="true" class="js-text-full text-full form-text required" data-drupal-selector="edit-subject-0-value" id="ContentPlaceHolder1_body_subject" maxlength="100" name="ctl00$ctl00$ContentPlaceHolder1$body$subject" placeholder="" required="required" size="60" type="text"/>
               </div>
              </div>
              <div class="field--type-string-long field--name-message field--widget-string-textarea js-form-wrapper form-wrapper" data-drupal-selector="edit-message-wrapper" id="edit-message-wrapper">
               <div class="js-form-item form-item js-form-type-textarea form-item-message-0-value js-form-item-message-0-value">
                <label class="js-form-required form-required" for="edit-message-0-value">
                 Message
                </label>
                <div>
                 <textarea aria-required="true" class="js-text-full text-full form-textarea required" cols="60" data-drupal-selector="edit-message-0-value" id="ContentPlaceHolder1_body_message" name="ctl00$ctl00$ContentPlaceHolder1$body$message" placeholder="" required="required" rows="12"></textarea>
                </div>
               </div>
              </div>
              <input autocomplete="off" data-drupal-selector="form-lx-45ebcsogjpmsh3j7an-rlhavfzrl9lmbah6hvoi0" name="form_build_id" type="hidden" value="form-LX_45eBcSogJPMSH3j7AN_RLhAvFZrL9lmBah6hVoI0"/>
              <input data-drupal-selector="edit-contact-message-feedback-form" name="form_id" type="hidden" value="contact_message_feedback_form"/>
              <div class="field--type-language field--name-langcode field--widget-language-select js-form-wrapper form-wrapper" data-drupal-selector="edit-langcode-wrapper" id="edit-langcode-wrapper">
              </div>
              <div class="form-actions js-form-wrapper form-wrapper" data-drupal-selector="edit-actions" id="edit-actions">
               <input class="button button--primary js-form-submit form-submit" data-drupal-selector="edit-submit" id="ContentPlaceHolder1_body_Button1" name="op" type="submit" value="Send message"/>
              </div>
             </div>
            </div>
           </div>
           <div class="col-lg-6">
            <div class="map-wrapper">
             <div id="map">
             </div>
             <div class="contact-infos">
              <div class="single-contact-info">
               <div class="icon-wrapper">
                <i class="fa fa-home">
                </i>
               </div>
               <p>
                72 Broad St,
Reading RG1 2AF,
United Kingdom
               </p>
              </div>
              <div class="single-contact-info">
               <div class="icon-wrapper">
                <i class="fa fa-home">
                </i>
               </div>
               <p id="i55">
                327 N Beverly Dr,
Beverly Hills,
CA 90210,
United States
               </p>
              </div>
              <div class="single-contact-info">
               <div class="icon-wrapper">
                <i class="fa fa-envelope">
                </i>
               </div>
               <p id="i56">
                support@Omegawfx.com
               </p>
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="paragraph paragraph--type--block paragraph--view-mode--default">
      <div class="cta-section cta-bg">
       <div class="container">
        <div class="cta-content">
         <div class="row">
          <div class="col-md-9 col-lg-7">
           <h3>
            Need help with your trading account?
           </h3>
          </div>
          <div class="col-md-3 col-lg-5 contact-btn-wrapper">
           <a class="boxed-btn contact-btn" href="/contact">
            <span>
             Contact Us
            </span>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <section class="ava-lazy loaded" data-api="trusted-award" id="trusted-award">
      <div class="lds-ellipsis" style="display: none;">
       <div>
       </div>
       <div>
       </div>
       <div>
       </div>
       <div>
       </div>
      </div>
      <div class="section-wrap" style="opacity: 1;">
       <div class="clearfix">
        <div class="trusted">
         <h4>
          Trusted By
         </h4>
         <img alt="trusted by" src="{% static 'img/services/trusted-by3860386038603860.png' %}"/>
        </div>
        <div class="award">
         <h4>
          Award Winner
         </h4>
         <img alt="award winner" src="{% static 'img/services/award-winner-2020.png' %}"/>
        </div>
       </div>
      </div>
     </section>
     {% endblock content %} 

    