{% extends 'main.html' %}{% load static %}{% block content %}
     {% comment %} <script type="text/javascript">
      $(window).on('load', function () {
        $('#logo').attr("src", "/static/img/logo_dark.png");
    });
    $(window).on('scroll', function () {
        // sticky menu activation
        if ($(window).scrollTop() > 180) {

            $('#logo').attr("src", "/static/img/logo_light.png");
        } else {

            $('#logo').attr("src", "/static/img/logo_dark.png");
        }


    });
     </script> {% endcomment %}
     <div>
      <div id="block-finlance-page-title">
       <h1>
        <span>
         About Omegawfx
        </span>
       </h1>
      </div>
      <div id="block-finlance-content">
       <div>
        <div class="paragraph paragraph--type--block paragraph--view-mode--default">
         <div class="about-bg breadcrumb-area about" style="background-image:url('img/files/case-5.jpg')">
          <div class="container">
           <div class="service breadcrumb-txt">
            <div class="row">
             <div class="col-xl-7 col-lg-8 col-sm-10">
              <h1>
               FREQUENTLY ASKED QUESTIONS
              </h1>
              <ul class="breadcumb">
               <li>
                <a href="/">
                 Home
                </a>
               </li>
               <li>
                FAQ
               </li>
              </ul>
             </div>
            </div>
           </div>
          </div>
          <div class="breadcrumb-area-overlay">
          </div>
         </div>
        </div>
        <div id="faq">
         <div class="accordion pt-3 pb-5" id="accordionExample">
          <div class="container">
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#collapseOne" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             Who is Omegawfx?
            </button>
            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
             <div class="card-body">
              Omegawfx is one of the world's leading Forex CFD provider. 
                    The company was incorporated with the vision of providing fair and transparent Forex trading to active traders. 
                    Omegawfx is dedicated to bringing solutions previously only available to professionals and large global investment banks to retail investors and traders around the world. 
                    For additional information about Omegawfx, please visit the About Us page.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c1" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             Who Owns Omegawfx?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c1">
             <div class="card-body">
              Omegawfx is a privately owned company. Omegawfx’ management team is comprised of individuals with over 20 years' experience in derivative products.
                     Omegawfx’ founders were instrumental in the success of one of the largest CFD  provider.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c2" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             Can I have more than one account in the system?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c2">
             <div class="card-body">
              You can have only 1 registered account. Creation of 2 or more accounts by one user is prohibited. 
                    In the case of multi-client accounts all user's accounts will be blocked and funds will be canceled.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c17" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             How do I open a live trading account?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c17">
             <div class="card-body">
              Opening an account is simple. Click on the Quick Sign Up link and complete your application form.

Once your on-line application form has been approved by our accounts team you will be emailed your trading account login details and password.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c18" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             What are your trading conditions?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c18">
             <div class="card-body">
              Our mission is to provide traders with the lowest spreads and fastest executions possible across over 285 Forex products including Forex, precious metals, stocks, futures and other commodities.
                     We have invested heavily in technology and established strong relationships with some of the largest and most reliable pricing providers in the market.

To find more about products offering click here: range of products.

We also strongly suggest to thoroughly read our Account Terms available for the attached costs, risks and your responsibilities before deciding to trade with beqq.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c3" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             What if you forgot your account password?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c3">
             <div class="card-body">
              You can use the password recovery function. To do this on the main page you need to click the "Login" button, 
                    then click "Forgot Password?". Specify the login and email that you used when registering your account. 
                    A new password will be sent to your email address. Please note if you specified a non-existent or temporary 
                    email when registering your account, password recovery will not be possible. If you forgot your login it will 
                    also be impossible to restore access to your account. 
                    These precautions are used to protect your account from scammers.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c5" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             What Deposit methods are available?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c5">
             <div class="card-body">
              At the moment we work with payment systems such as Bitcoin,Litecoin,Ethereum,Payeer, Perfect Money. 
                In the future the number of payment systems can be increased.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c6" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             How much time it takes for the deposit?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c6">
             <div class="card-body">
              The deposit in USD is credited to the balance immediately. 
                    Deposit in Bitcoin is credited automatically after 3 confirmations in the network. 
                    Speeding up the process of obtaining confirmations is impossible. 
                    The waiting time can be from 10 minutes to 12 hours. 
                    Please note, if you made a deposit different from the amount that you specified during the deposit, 
                    the deposit will not be credited to your account balance. Contact the support team to solve the problem.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c06" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             Where can I see information about my deposits?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c06">
             <div class="card-body">
              Detailed information about all of your deposits you can find in the Deposit History
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c7" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             What is the minimum / maximum deposit amount?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c7">
             <div class="card-body">
              Limitations of the deposit amount depends on the investment plan. 
                    You can find detailed information in your account in the Make Deposit Page.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c8" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             Can I open more than one deposit?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c8">
             <div class="card-body">
              Yes, you can have an unlimited number of deposits. Each deposit will generate 
                    profit separately from others in accordance with the investment plan and payment system through which you have made it.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c10" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             How quickly the requests for withdrawals are processed?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c10">
             <div class="card-body">
              Requests for withdrawal of funds are processed Instantly. 
                    If your withdraw is pending so The maximum processing time of the request is 48 hours.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c13" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             How the partner's reward is calculated?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c13">
             <div class="card-body">
              We have an affiliate program of 1 levels. You get instant 3%-5%-10% of the direct bonus or we are offer 10% for our representative.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c14" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             Do I need to have active investment in order to participate in your affiliate program?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c14">
             <div class="card-body">
              No, you are free to earn from our affiliate program without having to make an investment directly with Omegawfx
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c15" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             Can i make multi deposit ?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c15">
             <div class="card-body">
              Yes it can! But we don't allow multi plans working in same 
                    time because it will effect your instant withdraw function in our system! 
                    You can make multi deposits in same plan and it is accepted.
             </div>
            </div>
           </div>
           <div class="card bg-gray">
            <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-info faq-header text-left" data-target="#c16" data-toggle="collapse" type="button">
             <i class="fa fa-plus-circle">
             </i>
             How can I make money ?
            </button>
            <div aria-labelledby="headingOne" class="collapse" data-parent="#accordionExample" id="c16">
             <div class="card-body">
              Just register and create one or several deposits within one or several investment plans. 
                    After that you will be receiving profits according to the conditions of the investment plan you choose.
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <div class="paragraph paragraph--type--block paragraph--view-mode--default">
      <div class="cta-section cta-bg">
       <div class="container">
        <div class="cta-content">
         <div class="row">
          <div class="col-md-9 col-lg-7">
           <h3>
            Need help with your trading account?
           </h3>
          </div>
          <div class="col-md-3 col-lg-5 contact-btn-wrapper">
           <a class="boxed-btn contact-btn" href="/contact">
            <span>
             Contact Us
            </span>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <section class="ava-lazy loaded" data-api="trusted-award" id="trusted-award">
      <div class="lds-ellipsis" style="display: none;">
       <div>
       </div>
       <div>
       </div>
       <div>
       </div>
       <div>
       </div>
      </div>
      <div class="section-wrap" style="opacity: 1;">
       <div class="clearfix">
        <div class="trusted">
         <h4>
          Trusted By
         </h4>
         <img alt="trusted by" src="{% static 'img/services/trusted-by3860386038603860.png' %}"/>
        </div>
        <div class="award">
         <h4>
          Award Winner
         </h4>
         <img alt="award winner" src="{% static 'img/services/award-winner-2022.html' %}"/>
        </div>
       </div>
      </div>
     </section>
     {% endblock content %} 