{% extends 'main.html' %}{% load static %}{% block content %}
     <div>
      <div id="block-finlance-page-title">
       <h1>
        <span>
         About Omegawfx
        </span>
       </h1>
      </div>
      <div id="block-finlance-content">
       <div>
        <div class="paragraph paragraph--type--block paragraph--view-mode--default">
         <div class="about-bg breadcrumb-area about" style="background-image:url('img/files/case-6.jpg')">
          <div class="container">
           <div class="service breadcrumb-txt">
            <div class="row">
             <div class="col-xl-7 col-lg-8 col-sm-10">
              <h1>
               PRIVACY POLICY
              </h1>
              <ul class="breadcumb">
               <li>
                <a href="/index-2">
                 Home
                </a>
               </li>
               <li>
                Privacy Policy
               </li>
              </ul>
             </div>
            </div>
           </div>
          </div>
          <div class="breadcrumb-area-overlay">
          </div>
         </div>
        </div>
        <div class="pt-5 pl-4 pr-4 pb-5">
         <!-- <a href="Privacy%20Policy%20-%20Omegawfx.com.pdf">Privacy Policy - Omegawfx.com.pdf<i class="fa fa-download"></i></a> -->
        </div>
        <div class="bg-gray pt-5 pl-4 pr-4 pb-5">
         <p>
          1. When registering with Omegawfx.com, the Client shall provide certain identifying details including, inter alia, information aimed at preventing Money Laundering.
         </p>
         <p>
          1.1 The company collects and stores the following client data: email, encrypted password, client's name and address.
         </p>
         <p>
          2. Client undertakes to provide true, accurate and updated information about his identity and is obliged not to impersonate another person or legal entity. Any change in Client's identifying details must be notified to the Company immediately and in any case not later than the 30th day from the change in such details.
         </p>
         <p>
          2.1 Client's details which were provided and/or will be provided by the Client during his/her activity with Omegawfx.com may be used by the Company for sending Company's advertising content to the Client, unless the Client removes the mark approving the Company to do so. Such removal can be done when (i) opening an account or (ii) when receiving such advertising content or (iii) by logging in and going to My Account &gt; Personal Details. The Client may also send to the Company, at any time, an e-mail to support@Omegawfx.com asking the Company to stop sending such advertising content. The aforesaid mark removal and /or email receipt by the Company will oblige the Company to cease sending advertisement content to the Client within seven business days.
         </p>
         <p>
          2.2 Client details which were provided and/or will be provided by the Client during his/her activity on the site, may be disclosed by the Company to official authorities. The company will make such disclosure only if required to do so by applicable law, regulation or court order and at the minimum required extent.
         </p>
         <p>
          2.3 Non-confidential information about the Client can be used by the Company in any advertising materials.
         </p>
         <p>
          3. As a precondition for performing Transactions on the Site, Client may be asked to provide certain identifying documents and any other documents required by the Company. If such documents are not provided, the Company can, at its sole discretion, freeze the Client's Account for any period of time as well as to permanently close the Account. Without prejudice to the above, the Company may, at its sole discretion, refuse to open an Account for any person or entity and for any reason, or no reason.
         </p>
         <p>
          4. In case a person registers with Omegawfx.com on behalf of a corporation or other business entity Client, such registration shall be considered as a representation by such person, that such person is authorized to bind the corporation or other business entity Client.
         </p>
         <p>
          5. The Company shall not divulge any private information of its Clients and former Clients unless the Client approved in writing such disclosure or unless such disclosure is required under applicable law or is required in order to verify Client's identity. The Clients' information is passed only to employees of the Company dealing with Client's Accounts. All such information shall be stored on electronic and physical storage media according to applicable law.
         </p>
         <p>
          6. Client confirms and agrees that all or part of the information concerning Client's Account and Transactions will be stored by the Company and may be used by the Company in case of dispute tradeween Client and the Company.
         </p>
         <p>
          7. The Company will take measures to implement advanced data protection procedures and to update them from time to time for purpose of safeguarding Client's private information and Accounts.
         </p>
         <p>
          8. Upon registration with Omegawfx.com, Client will be asked to choose a username and password to be used by Client for each future login and for the performance of Transactions and use of the Company's Services. In order to protect Clients' privacy and operation with Omegawfx.com, sharing registration details (including without limitation, username and password) by Client with other persons or business entities is strictly prohibited. The Company shall not be held responsible for any damage or loss caused to Client due to improper use (including prohibited and unprotected use) or storage of such username and password, including any such use made by a third party, and whether or not known to or authorized by Client.
         </p>
         <p>
          9. Any use of Omegawfx.com with the Client's username and password is Client's sole responsibility. The Company shall not be held responsible for any such use, including for validation that Client is actually operating his/her Account.
         </p>
         <p>
          10. Client is obliged to forthwith notify the Company's client service of any suspicion of unauthorized use of the Account.
         </p>
         <p>
          11. The Company does not store or collect any Credit Card data.
         </p>
         <p>
          11.1 In accordance with the recommendations of Payment Card Industry Security Standards Council, customer card details are protected using Transport Layer encryption — TLS 1.2 and application layer with algorithm AES and key length 256 bit.
         </p>
         <p>
          12. Cookies:
         </p>
         <p>
          Definition: A cookie is a small amount of data, which often includes a unique identifier, that is sent to your computer or mobile phone (referred to here as a «device») browser from a website's computer and is stored on your device's hard drive for tracking site usage. A website may send its own cookie to your browser if your browser's preferences allow it, but, to protect your privacy, your browser only permits a website to access the cookies it has already sent to you, not the cookies sent to you by other websites. Many websites do this whenever a user visits their website in order to track online traffic flows. A Client may choose to configure their browser to reject cookies by modifying their browser settings or preferences.
         </p>
         <p>
          Our cookies policy: During any visit to Omegawfx.com website, the pages viewed, along with cookies, are downloaded to the Client's device. Cookies stored help determine the path the Client took on our site and they are used to anonymously identify recurring visits to the website and the most popular pages. However, the Company protects the Client's privacy by not storing the Client's names, personal details, emails, etc. Using cookies is an industry standard and is currently used by most major Websites. Stored cookies allow Omegawfx.com website to be more user-friendly and efficient for Clients by allowing the Company to learn which information is more valued by Clients versus which isn't.
         </p>
        </div>
       </div>
      </div>
     </div>
     <div class="paragraph paragraph--type--block paragraph--view-mode--default">
      <div class="cta-section cta-bg">
       <div class="container">
        <div class="cta-content">
         <div class="row">
          <div class="col-md-9 col-lg-7">
           <h3>
            Need help with your trading account?
           </h3>
          </div>
          <div class="col-md-3 col-lg-5 contact-btn-wrapper">
           <a class="boxed-btn contact-btn" href="/contact">
            <span>
             Contact Us
            </span>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
     <section class="ava-lazy loaded" data-api="trusted-award" id="trusted-award">
      <div class="lds-ellipsis" style="display: none;">
       <div>
       </div>
       <div>
       </div>
       <div>
       </div>
       <div>
       </div>
      </div>
      <div class="section-wrap" style="opacity: 1;">
       <div class="clearfix">
        <div class="trusted">
         <h4>
          Trusted By
         </h4>
         <img alt="trusted by" src="{% static 'img/services/trusted-by3860386038603860.png?v=1' %}"/>
        </div>
        <div class="award">
         <h4>
          Award Winner
         </h4>
         <img alt="award winner" src="{% static 'img/services/award-winner-2022.html' %}"/>
        </div>
       </div>
      </div>
     </section>
     {% endblock content %} 